{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>
      <tbody>
        {% for item in history %}
            <tr>
              <th scope="col">{{item.symbol}}</th>
              <th scope="col">{{item.name}}</th>
              <th scope="col">{{item.shares}}</th>
              <th scope="col">{{item.price}}</th>
              <th scope="col">{{item.total}}</th>
              <th scope="col">{{item.transacted}}</th>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
