{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
{{assets}}
    <form action="/sell", method="post">
        <select name="symbol">
            <option disabled="true" disabled selected value="">Symbol</option>
            {% for item in symbols %}
                <option value="{{item}}">{{item}}</option>
            {% endfor %}
        </select>
        <input name="shares" type="number" min=0 placeholder="Shares">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
